.carStatusContainerBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: gray;
  z-index: 98;
}

.carStatusContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-size: 1.5rem;
  background-color: azure;
  height: 100%;
  border-radius: 5px;
}
